arabic-reshaper
asgiref
asn1crypto
Brotli
certifi
cffi
chardet
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-widget-tweaks
djangorestframework
fonttools
html5lib
idna
lxml
Markdown
oscrypto
pdfkit
pillow
pycparser
pydyf
pyHanko
pyhanko-certvalidator
pypdf
pyphen
pypng
python-bidi
pytz
PyYAML
qrcode
reportlab
requests
six
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
zopfli