{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<div class="container text-center">
    <a  class="btn btn-primary m-4" href="{% url 'dg' %}">Designation</a>
    <a  class="btn btn-primary m-4" href="{% url 'sp' %}">Specialization</a>
    
</div> 



<div class="container mb-5">
        <button class="px-5 py-2 mb-4 btn btn-success text-white">{{data | length}} result found</button>
        <div style="margin: auto;" class="row gap-5">
            
            {% for i in data %}
            <div class="card mb-2" style="width: 25rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                {% if i.image %}
                <img style="height:300px" src="{{i.image.url}}" class="card-img-top" alt="...">
                {% else %}
                <img style="height:300px" src="{% static 'd4.jpg' %}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h4  class="card-title text-info"> {{i.user.first_name}} {{i.user.last_name}}</h4>
                    <p>Fee : {{i.fee}} </p>
                
                  {% comment %} <p> {% for j in i.designation.all %}
                    <p>Designation - <button class="btn btn-light"> {{j}}</button> </p>
                    {% endfor %}</p>
                
                <p> {% for j in i.specialization.all %}
                    <p>Specialization - <button class="btn btn-light"> {{j}}</button> </p>
                    {% endfor %}</p> {% endcomment %}
                <p> {% for j in i.available_time.all %}
                    <p>Time -{{j}}</p>
                    {% endfor %}</p>
                  <p class="text-end">
                    <a href="{% url 'doctor_details_view' i.id %}" class="btn btn-primary">Details</a>
                  </p>
                  

                </div>
              </div>
                
            {% endfor %}
                
        </div>
    </div>
    

</div>



{% endblock content %}