{% extends "base.html" %}
{% load static %}

{% block title %}Prescription{% endblock title %}

{% block content %}
<div class="text-center mt-5">

</div>
<div class="container w-100 mt-5 ">
    <div class="text-center mb-5">
        <img style="width: 300px; height: 300px; border-radius: 150px;" src="{% static 'prec.jpg' %}" alt="Prescription">
    </div>
    {% if data %}
        <div class="row gap-5 mb-5">
            <ul>
                {% for i in data %}
                <li><a target="_blank" href="{% url 'pdf' i.id %}">{{i.doctor}} - {{i.created_time}}</a></li>
                {% endfor %}
            </ul>
                
        </div>
    {% else %}
        <div>
            <p style="font-size: 30px; color: red; text-align: center;">You don't have any prescription !!</p>
        </div>
    {% endif %}

</div>


{% endblock content %}
